{% extends 'front/master.html' %}
{% load static %}

{% block headblock %}
<title>{{site.name}} | Home</title>
{% endblock %}

{% block mainblock %}
<!-- Latest -->

<!-- Feature post -->
<section class="bg0">
	<div class="container">
		<div class="row m-rl--1">
			<div class="col-md-4 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({%static 'front/images/post-01.jpg' %});">
					<a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
						<a href="#"
							class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							Business
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="blog-detail-01.html" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
								Microsoft quisque at ipsum vel orci eleifend ultrices
							</a>
						</h3>

						<span class="how1-child2">
							<span class="f1-s-4 cl11">
								Jack Sims
							</span>

							<span class="f1-s-3 cl11 m-rl-3">
								-
							</span>

							<span class="f1-s-3 cl11">
								Feb 16
							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({%static 'front/images/post-02.jpg' %});">
					<a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
						<a href="#"
							class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							Business
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="blog-detail-01.html" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
								Microsoft quisque at ipsum vel orci eleifend ultrices
							</a>
						</h3>

						<span class="how1-child2">
							<span class="f1-s-4 cl11">
								Jack Sims
							</span>

							<span class="f1-s-3 cl11 m-rl-3">
								-
							</span>

							<span class="f1-s-3 cl11">
								Feb 16
							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({%static 'front/images/post-03.jpg' %});">
					<a href="blog-detail-01.html" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
						<a href="#"
							class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							Business
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="blog-detail-01.html" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
								Microsoft quisque at ipsum vel orci eleifend ultrices
							</a>
						</h3>

						<span class="how1-child2">
							<span class="f1-s-4 cl11">
								Jack Sims
							</span>

							<span class="f1-s-3 cl11 m-rl-3">
								-
							</span>

							<span class="f1-s-3 cl11">
								Feb 16
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg0 p-t-60 p-b-35">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12 p-b-20">
				<div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
					<h3 class="f1-m-2 cl3 tab01-title">
						Latest Articles
					</h3>
				</div>

				<div class="row p-t-35">

					{% for i in news %}
					<div class="col-sm-6 p-r-25 p-r-15-sr991">
						<!-- Item latest -->
						<div class="m-b-45">
							<!-- <a href="{#url 'news_details' pk=i.pk #}" class="wrap-pic-w hov1 trans-03"> -->
							<a href="{%url 'news_details' word=i.name %}" class="wrap-pic-w hov1 trans-03">
								{% comment %} <img src="{%static 'front/images/latest-01.jpg'%}" alt="IMG"> {% endcomment %}
								<img src="{{i.picurl}}" alt="IMG">
							</a>

							<div class="p-t-16">
								<h5 class="p-b-5">
									<!-- <a href="{#url 'news_details' pk=i.pk #}" class="f1-m-3 cl2 hov-cl10 trans-03"> -->
									<a href="{%url 'news_details' word=i.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
										{{i.name}}
									</a>
								</h5>

								<p>{{i.short_txt}}</p>

								<span class="cl8">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										{{i.writer}}
									</a>

									<span class="f1-s-3 m-rl-3">
										-
									</span>

									<span class="f1-s-3">
										{{i.date}}
									</span>
								</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}