@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager ( desktop first )
/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800px: Desktop]
1800px +: Big Desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-lab
- big-desktop

1em = 16px
*/
/* only screen allows for media queries to only apply for screens. If someone tries to print out the page media query styling won't apply */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-lab {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  /* Note here we use min instead */
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
