/* link is a pseudo-class which defines the state of an element */
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* Inline block is used since anchor tag is an inline element */
    display: inline-block;
    border-radius: 10rem;
    /* transition is never placed in hover or active but always on the initial state. With transition you can control time of transforms */
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      /* shadow in y, shadow in x, blur, colour */
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    /* pseudo-elements adds like a virtual element after the element selected, which can be styled */
    &::after {
      /* Always need content and display to show */
      content: "";
      /* Use inline block since the element this pseudo is attached to, is also an inline block */
      display: inline-block;
      /* Percentage based on the size of the actual element */
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    /* animation name, animation time, animation timing function, animation delay */
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* applies the styling of the animation at 0% before the animation starts - in this case, the button would show up before animation since there
  is delay. With this property it won't because that's how the styling is applied at 0% */
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    /* very small pixels can be defined as pixels instead of rem since it won't change much even
    when the root font size is increased. 1 pixel to be increased to 2px, root font size needs to be 
    increased to 32px, which is very rarely the case. */
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
