.card {
  //Functionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  /* The height needs to be specified in the parent as well, as like floated elements, positioned elements are taken out of the natural flow, thus their height collapse. Here the child is set to position absolute. */
  /* This allows perspective effect to work fine */
  height: 50rem;

  &__side {
    font-size: 2rem;

    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* This was used as a transition fix in the header animation. Here it's used for it's actual purpose. This property hides the back face when the element is rotated 180 degrees */
    backface-visibility: hidden;
    border-radius: 3px;
    /* Overflow, because the image was shown as bigger than the element thus the border radius was not taking affect, since it only applied on the element. With overflow, the extra corners of the image are hidden */
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //Front side styling
  &__picture {
    background-size: cover;
    height: 23rem;
    /* Blends an image with a color */
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    /* When using clip path the border radius breaks so it needs to be specified again */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      /* Background image urls need to be considered from the CSS folder and not from SASS folder */
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../img/nat-5.jpg);
    }
    &--2 {
      /* Background image urls need to be considered from the CSS folder and not from SASS folder */
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../img/nat-5.jpg);
    }
    &--3 {
      /* Background image urls need to be considered from the CSS folder and not from SASS folder */
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(../img/nat-5.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    /* Box decoration is used when a text element is wrapped and thus split in two lines or more. When applying padding, css only applies it to the left and right edges as if the element was not wrapped, thus any line breaks won't apply 
    the padding styling. Using box decoration break, the padding styling is applied to each line break separately */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  //@include respond(tab-port) {
  /* hover:none means that if device doesn't have hover use the styling in the block. Used for touch devices */
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
