.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;

  /* If we use display none to hide the popup ( or any other element ) we cannot animate it later */
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  /* check if a property is supported, then apply the style */
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  /* This is activated when the anchor tag with this element's target is triggered - also the URL is changed to #popup ( #popup comes from this element's ID ) */
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 75%;
    height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    /* In order to get to elements side by side with the same height give display table to parent container, and display table-cell to the children elements that are side by side and that should be same height */
    display: table;
    /* Again use overflow hidden to make the images work with border radius*/
    overflow: hidden;
    opacity: 0;
    /* We can only have one transform per block, thus we have to write them all in one line, and to make it work, we overwrite the transform in the mixin */
    transform: translate(-50%, -50%) scale(0.5);
    /* with the .2s delay we allow the background black to come in in first */
    transition: all 0.4s 0.2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    /* vertical align can be used in table cells */
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    /* Split text in two columns */
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    -webkit-column-count: 2;
    -webkit-column-gap: 4rem;
    -webkit-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    /* Use this to wrap the text with hyphens to fit the text properly in the column. In order to work, this needs a lang attribute in the html tag */
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
