

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }

  80% {
    transform: translateX(1rem);
  }

  /* Can have many more steps at different percentages */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  /* Can have many more steps at different percentages */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* Can have many more steps at different percentages */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}