/* Start Clean, use the universal selector, since the browser adds certain style to certain elements by default */
/* Make sure to apply this to the pseudo elements as well */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* Removes border and padding to the box model to the total width and height specified for a box */
  /* A better technique is, instead of applying box sizing to all elements, we use inheritance. Thus applying this style in the body tag instead and make sure that all other elements inherit it */
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

html {
  /* This changes the root font size to 10 px. All rem values will depend on this root font size */
  /* 10px is a common technique used for easy calculations since 1 rem = 10 pxs, when the default root font size set by browsers is 16px which will make our calculations more complex */
  /* This creates a problem though, when users increase the font size in the browser, since their changes won't take effect, because we use rem based on the font-size of 10px */
  /* A good work around is to set the font-size in percentage. So 10 / 16 = 62.5% */
  /* This defines what 1 rem is */
  font-size: 62.5%; //1rem = 10px

  /* not necessarily since it is the same as tab-port */
  // @include respond(phone) {
  //   font-size: 50%;
  // }

  /* The ordering is important. Since tab port and tab lab use max width both, tab lab has to be first so it does 
  not override tab port ( same for phone ) - the last style registered is the one applied */
  /* This order is specific to desktop first design */
  @include respond(tab-lab) {
    font-size: 56.25%; // 1rem= 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px ( 8/16 = 50% )
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  box-sizing: border-box;
}

/* change text selection style */
::selection {
  background-color: $color-primary;
  color: $color-white;
}
