.u-center-text {
  /* the inline block content will be treated as text and thus centered */
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-huge {
  margin-bottom: 10rem;
}

.u-margin-top-big {
  margin-bottom: 8rem;
}
