// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  /* when not specifying the min-content, it is set to auto, thus the space is dependant on the content */
  /* repeat is used to multiply the defined row size */
  /* with grid template rows we are defining the size of rows. the defined rows are the explicit rows, any elements that fall outside the defined space are called implicit rows */
  /* using VW in rows to maintain the aspect ratio, since setting the width, will also set the height */
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  /* fractional unity is used for the remaining space, after any space is defined. Multiple defined fractional unit will split this space equally. More than 1 can be set for 
  a fractional unity to define space equally split but on has more times than the other */
  /* always name your columns: in case you want to remove a column later when fitting the site to be responsive, if the columns are not named, you will need to change all the column numbers */
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start]
      repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end]
      minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
