.features {
  grid-column: center-start/center-end;

  margin: 15rem 0;

  /* sub gird will be available in the future */
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  /* using the auto-fit, css will fit as much columns that can fit in the container depending on the width (maxmin) provided. This makes the grid responsive without the use of media queries */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    /* we cannot use -1 for the last row, because -1 only works with explicity cells */
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
