.row {
  max-width: $grid-width;
  /* center a block element inside another block element */
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 0.3rem;
  }

  /* The last row we don't want to give it bottom margin */
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  /* the row has a 0 pixel height - because all the child elements are floated the height collapses to 0 */
  @include clearfix;

  /* An attribute based selector */
  /* Search for elements with attribute class that starts with 'col-' */
  /* 
    ^ - starts with
    * - contains
    $ - ends with
  */
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    /* All of the columns will have 100% width. We use important to override the other cols */
    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
    );
  }
}
