.header {
  /* View port height - whatever the height of the browser, it will take 95% of it */
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url("../img/hero-small.jpg");
  /* background tries to always fit within the box */
  background-size: cover;
  background-position: top;
  position: relative;
  /* Configure angels for polygon - top left, top right, bottom right, bottom left */
  /* Polygon can have more than one angle! */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  /* 192dpi is the resolution of apple's retina screen, thus it is used as the highest resolution reference */
  /* We include min-width, because on smaller sizes most probably you don't need big images */
  /* For small sizes it's good to assume that devices dpi is 2x, still if you do 600 x 2 = 1200 and thus the small image is enough */
  // @media (min-resolution: 192dpi) and (min-width: 37.5em) {
  //   // 600 / 16 = 37.5
  //   background-image: linear-gradient(
  //       to right bottom,
  //       rgba($color-secondary-light, 0.8),
  //       rgba($color-secondary-dark, 0.8)
  //     ),
  //     url("../img/hero.jpg");
  // }

  /* For screens larger than 2000px use the bigger image ( even if the device is x1 dpi )*/
  // @media (min-width: 125em) {
  //   // 2000 / 16 = 125
  //   background-image: linear-gradient(
  //       to right bottom,
  //       rgba($color-secondary-light, 0.8),
  //       rgba($color-secondary-dark, 0.8)
  //     ),
  //     url("../img/hero.jpg");
  // }

  /* Can also be written in short using ',' as OR */
  /* -webkit-min-device-pixel-ratio is used because for safari min-resolution was not supported - at the time of the course (2017) */
  @media (min-resolution: 192dpi) and (min-width: 600px),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
    (min-width: 125em) {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
      url("../img/hero.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    /* top and left are used to position the element in the area, using transform translate -50% for both width and height centers the element to the center point of itself */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
