/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Start Clean, use the universal selector, since the browser adds certain style to certain elements by default */
/* Make sure to apply this to the pseudo elements as well */
*,
a::after,
*::before {
  margin: 0;
  padding: 0;
  /* Removes border and padding to the box model to the total width and height specified for a box */
  /* A better technique is, instead of applying box sizing to all elements, we use inheritance. Thus applying this style in the body tag instead and make sure that all other elements inherit it */
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

html {
  /* This changes the root font size to 10 px. All rem values will depend on this root font size */
  /* 10px is a common technique used for easy calculations since 1 rem = 10 pxs, when the default root font size set by browsers is 16px which will make our calculations more complex */
  /* This creates a problem though, when users increase the font size in the browser, since their changes won't take effect, because we use rem based on the font-size of 10px */
  /* A good work around is to set the font-size in percentage. So 10 / 16 = 62.5% */
  font-size: 62.5%;
}

body {
  /* This will be inherited by all the child elements, thus better practice than using the universal selector, which applies styling to elements separately */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;

  box-sizing: border-box;
}

.header {
  /* View port height - whatever the height of the browser, it will take 95% of it */
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  /* background tries to always fit within the box */
  background-size: cover;
  background-position: top;
  position: relative;

  /* Configure angels for polygon - top left, top right, bottom right, bottom left */
  /* Polygon can have more than one angle! */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  /* top and left are used to position the element in the area, using transform translate -50% for both width and height centers the element to the center point of itself */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* A fix used in containers of animations when it's a bit shaky*/
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  /* block elements occupy the entire width that they have available and create line breaks after and before them */
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /*
  //number of iterations for the animation
  animation-iteration-count: 3;
  animation-delay: 1s;
  */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }

  80% {
    transform: translateX(1rem);
  }

  /* Can have many more steps at different percentages */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  /* Can have many more steps at different percentages */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* Can have many more steps at different percentages */

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* link is a pseudo-class which defines the state of an element */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  /* Inline block is used since anchor tag is an inline element */
  display: inline-block;
  border-radius: 10rem;
  /* transition is never placed in hover or active but always on the initial state. With transition you can control time of transforms */
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  /* shadow in y, shadow in x, blur, colour */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777777;
}

/* pseudo-elements adds like a virtual element after the element selected, which can be styled */
.btn::after {
  /* Always need content and display to show */
  content: "";
  /* Use inline block since the element this pseudo is attached to, is also an inline block */
  display: inline-block;
  /* Percentage based on the size of the actual element */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  /* animation name, animation time, animation timing function, animation delay */
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* applies the styling of the animation at 0% before the animation starts - in this case, the button would show up before animation since there
  is delay. With this property it won't because that's how the styling is applied at 0% */
  animation-fill-mode: backwards;
}
